<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Smart Data Lake - Build your data lake the smart way.
  ~
  ~ Copyright © 2019-2022 ELCA Informatique SA (<https://www.elca.ch>)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c - %msg [%t]%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- WARN level as default -->
        <Root level="WARN"><AppenderRef ref="Console"/></Root>
        <!-- INFO level for SDLB -->
        <logger name="io.smartdatalake" level="INFO" />
        <!-- ERROR level to ignore some warnings -->
        <logger name="org.apache.hadoop.hive.conf.HiveConf" level="ERROR"/>
        <logger name="org.apache.hadoop.hive.metastore.ObjectStore" level="ERROR"/>
        <logger name="org.apache.hadoop.hive.ql.session.SessionState" level="ERROR"/>
        <logger name="org.apache.spark.sql.catalyst.analysis.SimpleFunctionRegistry" level="ERROR"/>
        <logger name="org.apache.spark.sql.execution.streaming.ResolveWriteToStream" level="ERROR"/>
        <logger name="org.apache.spark.sql.execution.streaming.ProcessingTimeExecutor" level="ERROR"/>
        <logger name="org.apache.spark.executor.ProcfsMetricsGetter" level="ERROR"/>
    </Loggers>
</Configuration>