name: Release Build

on: 
  pull_request:
    branches:
      - 'master-spark*'
    types: [closed]

  # allow for manual releases from hotfix branches
  # the version to create needs to be set correctly in all pom.xml files, e.g. by using `mvn versions:set -DnewVersion=x.y.z`
  # then a normal release is created including tag, but without increasing version number on original branch
  workflow_dispatch:

jobs:
  deploy-release:
    if: {{ github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch' }}

    runs-on: ubuntu-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v2
      with:
        ref: ${{ github.base_ref }}
        fetch-depth: 0
        token: ${{ secrets.PAT_ACTIONS }}
    - name: Git Config
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
    - name: JDK 11 Set
      uses: actions/setup-java@v1
      with: 
        java-version: 11
    - name: Maven Cache
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-
        
    - name: Maven Get Version
      run: echo MVN_CURRENT_VERSION=$(mvn -B -P scala-2.12 -f /home/runner/work/smart-data-lake/smart-data-lake/pom.xml -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive exec:exec) >> $GITHUB_ENV
    - name: Set Release Version
      run: echo MVN_RELEASE_VERSION=${MVN_CURRENT_VERSION/-SNAPSHOT/} >> $GITHUB_ENV
    #- name: Printenv
    #  run: |
    #    printenv
    - name: Maven Set Release Version
      run: |
        sed -i "/${MVN_CURRENT_VERSION}/{s//${MVN_RELEASE_VERSION}/;:p;n;bp}" pom.xml
        sed -i "/${MVN_CURRENT_VERSION}/{s//${MVN_RELEASE_VERSION}/;:p;n;bp}" */pom.xml

    - name: Maven deploy to sonatype for Scala 2.12
      uses: samuelmeuli/action-maven-publish@v1
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg_passphrase: ${{ secrets.GPG_PASSPHRASE }}
        nexus_username: ${{ secrets.SONATYPE_USERNAME }}
        nexus_password: ${{ secrets.SONATYPE_PASSWORD }}
        maven_profiles: scala-2.12,release-sonatype
        maven_args: -B -f pom.xml

    - name: Maven deploy to sonatype for Scala 2.11, only if on master-spark2* branch
      if: ${{ contains(github.base_ref, 'master-spark2') }}
      uses: samuelmeuli/action-maven-publish@v1
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg_passphrase: ${{ secrets.GPG_PASSPHRASE }}
        nexus_username: ${{ secrets.SONATYPE_USERNAME }}
        nexus_password: ${{ secrets.SONATYPE_PASSWORD }}
        maven_profiles: scala-2.11,release-sonatype
        # exclude sdl-parent as it is already uploaded with previous deploy, stays the same and cannot be replaced in remote repository
        maven_args: -B -pl '!.' -f pom.xml

    - name: Git Commit
      run: |
        git add -A
        git diff-index --quiet HEAD || git commit -m "Release version ${MVN_RELEASE_VERSION}" # only if there is something to commit
    - name: Git Pull, Tag and Push
      run: |
        git pull --rebase
        git push origin # push commits
        git tag -f ${MVN_RELEASE_VERSION} -m "Release ${MVN_RELEASE_VERSION}"
        git push origin ${MVN_RELEASE_VERSION} # push tag
        
  update-snapshot-version:
    needs: deploy-release
    if: github.event_name != 'workflow_dispatch'

    runs-on: ubuntu-latest

    steps:
    - name: Develop Git Checkout
      run: |
        git fetch origin ${GITHUB_HEAD_REF}
        git checkout ${GITHUB_HEAD_REF}
    - name: Git Merge to develop
      run: |
        git merge origin/${GITHUB_BASE_REF}
        git diff-index --quiet HEAD || git commit -m "Release version ${MVN_RELEASE_VERSION}" # only if there is something to commit
    
    - name: Develop Get Next Version
      id: bump_version
      uses: christian-draeger/increment-semantic-version@1.0.1
      with:
        current-version: ${{ env.MVN_RELEASE_VERSION }}
        version-fragment: bug
    - name: Develop Set Next Snapshot version
      run: |
        sed -i "/${MVN_RELEASE_VERSION}/{s//${{ steps.bump_version.outputs.next-version }}-SNAPSHOT/;:p;n;bp}" pom.xml
        sed -i "/${MVN_RELEASE_VERSION}/{s//${{ steps.bump_version.outputs.next-version }}-SNAPSHOT/;:p;n;bp}" */pom.xml
    - name: Develop Git Commit Snapshot
      run: |
        git commit -m "Increment to next SNAPSHOT release" -a
    - name: Develop Git Push
      run: |
        git push

  publish-schema-json:
    needs: deploy-release

    runs-on: ubuntu-latest

    steps:
    - name: Push sdl-schema.json to documentation branch
      run: |
        git fetch origin documentation
        git checkout documentation
        # note that sdl-schema.json should be available in the location below from the previous maven build.
        mv sdl-lang/target/classes/sdl-schema.json static/json-schema-viewer/schemas/sdl-schema-${MVN_RELEASE_VERSION}.json
        git add static/json-schema-viewer/schemas/sdl-schema-${MVN_RELEASE_VERSION}.json
        git diff-index --quiet HEAD || git commit -m "Update sdl-schema-${MVN_RELEASE_VERSION}.json" # only if there is something to commit
        git push
